{% extends "base.twig" %}

{% block content %}
	<div class="slider">
		<h1 class="title">ТЦ “Appetite” предлагает в аренду современные торговые площади, которые обеспечивают максимальное удобство арендатору.</h1>
		<div class="slider-wrapper" id="slider">
			<img src="/wp-content/themes/appetite/img/slide-1.jpg" alt="slide">
			<img src="/wp-content/themes/appetite/img/slide-2.jpg" alt="slide">
			<img src="/wp-content/themes/appetite/img/slide-3.jpg" alt="slide">
			<img src="/wp-content/themes/appetite/img/slide-4.jpg" alt="slide">
			<img src="/wp-content/themes/appetite/img/slide-5.jpg" alt="slide">
			<img src="/wp-content/themes/appetite/img/slide-6.jpg" alt="slide">
		</div>
	</div>
	{# <div class="blockInvestmens">
			<div class="container">
				<div class="title">ИНВЕСТИЦИОННАЯ ПРИВЛЕКАТЕЛЬНОСТЬ</div>
				<div class="subtitle">Маркетинговая концепция ТЦ “Appetite” дает арендаторам комплекса ряд серьёзных конкурентных преимуществ.Среди тех, кто уже оценил удобство тогового центра целый ряд успешных украинских и международных торговых марок:</div>
				<div class="img-wrapper">
					<img src="/wp-content/themes/appetite/img/FishHouse.png" alt="fish house">
					<img src="/wp-content/themes/appetite/img/KFC.png" alt="KFC">
					<img src="/wp-content/themes/appetite/img/Document.png" alt="Документ">
					<img src="/wp-content/themes/appetite/img/Vinzer.png" alt="Vinzer Home">
					<img src="/wp-content/themes/appetite/img/WineTime.png" alt="WineTime">
				</div>
			</div>
		</div> #}


	<div class="blockInvestmens">
		<div class="container">
			<div class="title">ИНВЕСТИЦИОННАЯ ПРИВЛЕКАТЕЛЬНОСТЬ</div>
			<div class="subtitle">Маркетинговая концепция ТЦ “Appetite” дает арендаторам комплекса ряд серьёзных конкурентных преимуществ.Среди тех, кто уже оценил удобство тогового центра целый ряд успешных украинских и международных торговых марок:</div>
		</div>
		<div class="img-wrapper">
			<a href="http://grill-family.rest/nashi-restorani/Vodka-Grill"><img src="/wp-content/themes/appetite/img/Grill.png" alt="Vodka-Grill"></a>
			<a href="https://fishhouse.ua/"><img src="/wp-content/themes/appetite/img/FishHouse.png" alt="fish house"></a>
			<a href="https://www.kfc-ukraine.com/"><img src="/wp-content/themes/appetite/img/kfc.png" alt="KFC"></a>
			<a href="https://pasport.org.ua/"><img src="/wp-content/themes/appetite/img/document.png" alt="Документ"></a>
			<a href="https://winetime.ua/ru/"><img src="/wp-content/themes/appetite/img/wineTime.png" alt="WineTime"></a>
			<a href="https://www.sixt.ua/"><img src="/wp-content/themes/appetite/img/Sixt.png" alt="SiXT"></a>
			<a href="https://vinzerhome.ua/"><img src="/wp-content/themes/appetite/img/vinzer.png" alt="Vinzer Home"></a>
		</div>
	</div>

	<div class="blockPlan">
		<div class="container">
			<div class="title">
				ПЛАН<br>
				ТОРГОВОГО ЦЕНТРА<br>
				“APPETITE”
			</div>
			<div class="subtitle">
				Торговый центр обеспечен высокоскоростным интернетом, охранной и пожарной сигнализацией, видеонаблюдением, автономным отоплением
			</div>
			<p>H: 3,2
				<span>м</span>
			</p>
			<p>S: 3 500
				<span>м</span>
				<sup>2</sup>
			</p>
		</div>
	</div>

	<div class="blockCounter">
		<div class="container">
			<div class="title">ПОТОК ПОСЕТИТЕЛЕЙ В СУТКИ</div>
			<div class="items-wrapper" id="blockCounter">
				<div class="item">
					<img src="/wp-content/themes/appetite/img/smi1.png" alt="icon">
					<div class="text">
						<p class="number" id="counter1">0</p>
						<p class="text">пешеходов<br>проходит мимо</p>
					</div>
				</div>
				<div class="item">
					<img src="/wp-content/themes/appetite/img/smi2.png" alt="icon">
					<div class="text">
						<p class="number" id="counter2">0</p>
						<p class="text">посетителей<br>магазинов внутри<br>
							комплекса</p>
					</div>
				</div>
				<div class="item">
					<img src="/wp-content/themes/appetite/img/smi3.png" alt="icon">
					<div class="text">
						<p class="number" id="counter3">0</p>
						<p class="text">посетителей<br>ресторанов на<br>
							фасаде комплекса</p>
					</div>
				</div>
				<div class="item">
					<img src="/wp-content/themes/appetite/img/smi4.png" alt="icon">
					<div class="text">
						<p class="number" id="counter4">0</p>
						<p class="text">автомобилей<br>проезжает мимо</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
